@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  background-color: lightcoral;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.about-section {
  padding: 1rem 2rem;
  margin: auto;
  margin-top: 3rem;
  width: 550px;
  background-color: whitesmoke;
  border: 2px solid;
  border-radius: 0.5rem;
}

.about-section p {
  width: 500px;
  margin: 1rem auto;
}

.working-section {
  padding: 2rem;
}

.working-section input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 3px solid;
}
